# ─── Node / Firebase ───
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*
.firebase/
node_modules/
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.env
.dataconnect
lib-cov
coverage
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release
pids
*.pid
*.seed
*.pid.lock
**/google-services.json

# ─── Android ───
*.iml
.gradle
/android/LChat/local.properties
/android/LChat/.idea/caches
/android/LChat/.idea/libraries
/android/LChat/.idea/modules.xml
/android/LChat/.idea/workspace.xml
/android/LChat/.idea/navEditor.xml
/android/LChat/.idea/assetWizardSettings.xml
/android/LChat/build
/android/LChat/captures
/android/LChat/.externalNativeBuild
/android/LChat/.cxx
local.properties

# ─── Sistema ───
.DS_Store
lint-baseline.xml
*.apk
*.aab
android/LChat/app/prod/
android/LChat/app/dev/