rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    // avatares
    match /avatars/{userId}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // archivos de chat
    match /chats/{chatId}/{allPaths=**} {
      allow read: if request.auth != null &&
        firestore.get(/databases/(default)/documents/chats/$(chatId)).data.members.hasAny([request.auth.uid]);
      allow write: if request.auth != null &&
        firestore.get(/databases/(default)/documents/chats/$(chatId)).data.members.hasAny([request.auth.uid]);
    }

  }
}